
.icon-phone-1:before { content: '\e800'; } /* '' */
.icon-at:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-vcard:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\f018'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */