body
{
background-image: url("img/black_linen_v2.png");
margin: 0;
color: white;	
}



.navbar-nav
{
	
	text-transform: uppercase;
	font-family: 'Baloo Chettan', cursive;
	margin-bottom: 5px;
	font-size: 24px;
	margin-left: 15px;

}

#slider
{
	float:left;
	max-width: 610px;
	height: 550px;
	
}

.col-sm-12 img
{
	margin-top: 50px;
	height: auto;
	max-width: 100%;
}

#motto

{
	float: left;
	text-align: left;
	font-family: 'Alfa Slab One', cursive;
	font-weight: 400;
	font-size: 44px;
	margin-left: 30px;
	margin-top: 60px;
	width: 470px;
	
	
}

#aboutCompany 
{
	text-align: justify;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 25px;
	width: 1200px;
	margin-top: 70px;
	margin-bottom: 10px;
}

#map
{
	float:left;
	max-width: 610px;
	height: 450px;
	
}



#imgMap img
{
	
	max-width: 100%;
	height: auto;
	margin-top: 15px;
}

#contentIndex
{
	float: left;
	font-family: 'Play', sans-serif;
	width: 500px;
	font-size: 40px;
	margin-top: 60px;
}


#contentIndex h1
{

	letter-spacing: 3px;
	margin-left: 20px;
	color: orange;
	margin-bottom: 20px;

}

#contentIndex ul
{
	font-size: 25px;
	margin-left: 15px;
	opacity: 0.8;
	list-style-type: square;
	letter-spacing: 3px;	
	padding-top: 10px;
	
}


#shortinfo 
{
	font-size: 22px;
	text-align: center;
	font-family: 'Play', sans-serif;
	margin-top: 80px;
	margin-bottom: 80px;
}

.col-12 p
{
	font-size: 15px;
	font-family: 'Play', sans-serif;
	
}

#wallpaperOffer img
{
	
	max-width: 100%;
	margin-top: 0;
	height: auto;
}



#imgPallets
{
	max-width: 600px;
	float: left;
	height: 490px;
}

#imgPallets img
{
	
	max-width: 100%;
	height: auto;
	margin-top: 40px;
}

#contentOffer
{
	float: left;
	font-family: 'Play', sans-serif;
	width: 500px;
	font-size: 40px;
	margin-top: 50px;
	
}

#contentOffer h1 
{
	margin-left: 20px;
	letter-spacing: 3px;
	color: orange;
	font-size: 40px;
	margin-bottom: 20px;
}

#contentOffer p 
{
	font-size: 20px;
	margin-left: 15px;
	letter-spacing: 3px;
	padding: 10px;
	
		
}

#wallpaperContact img
{
	
	max-width: 100%;
	margin-top: 0;
	height: auto;
}

#contentContact
{
	float: left;
	font-family: 'Play', sans-serif;
	width: 500px;
	font-size: 40px;
	margin-bottom: 80px;
}

#mapGoogle
{
	
	float: left;
	max-width: 100%;
	margin-top: 40px;
	height: auto;
	margin-bottom: 80px;
}


#contentContact h1 
{
	margin-left: 20px;
	letter-spacing: 3px;
	color: orange;
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 40px;
	
}

#contentContact p 
{
	font-size: 20px;
	margin-left: 20px;
	letter-spacing: 3px;
	color: white;
}

#companyName
{
	font-size: 36px;
	color: red;
}

.footer
{
	padding: 10px 10px;
	color: black;
	font-weight: 700;
}
