body
{
background-image: url("img/black_linen_v2.png");
margin: 0;
color: white;	
}

#mainPage
{
	width: 1200px;
	color: white;	
	margin-left: auto;
	margin-right: auto;
	
}
.topBar
{
	background-color: white;
	width: 100%;
}

.logo
{
	float: left;
	height: 60px;
	width: 285px;
	margin-top: 20px;
}

.navigation
{
	float: right;
	color: black;
	font-size: 24px;
	margin-top: 10px;
	
}

ol
{
	list-style-type: none;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Baloo Chettan', cursive;
	color: red;
	display: inline-block;
	margin-bottom: 5px;

}

ol > li
{
	float:left;
	height: 40px;
	margin-right: 30px;
	margin-left: 30px;
	
	
}

ol a
{
	text-decoration: none;
	display: block;
	color: red;	
}

ol a:hover
{
	text-decoration: none;
	display: block;
	color: #000000;	

}
#slider img
{
	float:left;
	width: 720px;
	margin-top: 30px;
}


#slider p

{
	float: left;
	text-align: left;
	font-family: 'Alfa Slab One', cursive;
	font-weight: 400;
	font-size: 44px;
	margin-left: 30px;
	margin-top: 100px;
	width: 450px;
	
	
}

#aboutCompany 
{
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 25px;
	width: 1200px;
	margin-top: 60px;
	margin-bottom: 60px;
}

#map img
{
	float:left;
	width: 600px;
}

#numbers
{
	float: right;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Play', sans-serif;
	width: 600px;
	font-size: 40px;
	
	
}

.mapNumbers h1
{
	margin-left: 32px;
	color: red;
}

.mapNumbers ul
{
	font-size: 25px;
	margin-left: 15px;
	opacity: 0.8;
	list-style-type: square;
	letter-spacing: 3px;
}




#shortinfo 
{
	font-size: 22px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Play', sans-serif;
}

.footer
{
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Play', sans-serif;
	margin-bottom: 10px;
	margin-top: 30px;
}